<div class="col-md-12 col-md-push-2">
  <% if @beverages && !@beverages.empty? %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Pump Port</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% for beverage in @beverages %>
          <tr>
            <td><%= beverage.name %>
            <td><%= beverage.pump.port %></td>
            <td class='button-wrapper'>
              <%= link_to edit_beverage_url(beverage), class: 'btn btn-primary fh5co-btn-icon' do %>
                <i class="ti-pencil"></i> Edit
              <% end %>
              <%= link_to beverage_url(beverage), class: 'btn btn-primary fh5co-btn-icon', method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="ti-close"></i> Remove
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p> You have no beverages yet. Follow the link on the top tab to add a new beverage and link to a pump</p>
  <% end %>
</div>
