<div class="col-md-12 col-md-push-2">
  <%= form_for @beverage, url: {action: "create"} do |f| %>
    <% if @beverage.errors.any? %>
    <div id="error_explanation" class='col-md-7 alert alert-danger'>
      <p><%= pluralize(@beverage.errors.count, "error") %> prohibited your beverage from being created:</p>

      <ul>
        <% @beverage.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <div class="col-md-7">
      <div class="form-group">
        <%= f.label :name, class: 'sr-only' %>
        <%= f.text_field :name, class: 'form-control input-lg', placeholder: 'Beverage Name' %>
      </div>
    </div>
    <div class="col-md-7">
      <div class="form-group">
        <%= f.label :description, class: 'sr-only' %>
        <%= f.text_area :description, class: 'form-control input-lg', placeholder: 'Enter a description of this beverage' %>
      </div>
    </div>
    <div class="col-md-7">
      <div class="form-group">
        <%= f.label :pump, class: 'sr-only' %>
        <%= f.select :pump_id, options_for_select(@available_pumps), {:include_blank => "Select Pump"}, { class: 'form-control input-lg' } %>
      </div>
    </div>
    <div class="col-md-7">
      <%= f.submit "Create Beverage", class: 'btn btn-primary btn-md' %>
    </div>
  <% end %>
</div>
