<div class="col-md-7">
  <div class="form-group">
    <%= f.label :beverage_id, class: 'sr-only' %>
    <%= f.select :beverage_id, options_for_select(@beverages), {:include_blank => "Select Beverage"}, {class: 'form-control input-lg'} %>
  </div>
</div>
<div class="col-md-2">
  <p> X </p>
</div>
<div class="col-md-3">
  <div class="form-group">
    <%= f.label :measurement, nil, class: 'sr-only' %>
    <%= f.text_field :measurement, class: 'form-control input-lg' , placeholder: 'ML'%>
  </div>
</div>
