<!-- Start Work -->
<div id="fh5co-work">
  <div class="container">
    <div class="row">
      <% if @cocktails && !@cocktails.empty? %>
        <% for cocktail in @cocktails %>
          <div class="col-md-4 col-sm-4 col-xs-4 fh5co-work-wrap">
            <div href="#" class="fh5co-work-item js-fh5co-work-item">
              <% if cocktail.images.empty? %>
                <img src="/assets/work_1.jpg" alt="Image" class="img-responsive">
              <% else %>
                <img src="<%= cocktail.images.first.file_path %>" alt="Image" class="img-responsive">
              <% end %>
              <div class="fh5co-overlay-bg js-fh5co-overlay-bg"></div>
              <div class="fh5co-overlay-text js-fh5co-overlay-text">
                <h1>£<%= cocktail.price %></h1>
                <h2><%= cocktail.name %></h2>
                <ul class="fh5co-categories">
                  <% for ingredient in cocktail.ingredients %>
                    <li><%= ingredient.measurement %>ml X <%= ingredient.beverage.name %></li>
                  <% end %>
                </ul>
                <%= link_to order_cocktail_path(cocktail), method: :post, class: 'btn btn-primary fh5co-btn-icon' do %>
                  <i class="ti-shopping-cart"></i>
                <% end %>
                <%= link_to cocktail_path(cocktail), class: 'btn btn-primary fh5co-btn-icon' do %>
                  <i class="ti-eye"></i>
                <% end %>
                <%= link_to edit_cocktail_path(cocktail), class: 'btn btn-primary fh5co-btn-icon' do %>
                  <i class="ti-pencil"></i>
                <% end %>
                <%= link_to cocktail_url(cocktail), class: 'btn btn-primary fh5co-btn-icon', method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="ti-close"></i>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <!-- Start More Works -->
      <div class="row">
        <div class="col-md-12 text-center">
        <a href="#" class="fh5co-view js-fh5co-view"><span class="fh5co-icon-view"><i class="ti-plus"></i></span> <span class="js-fh5co-view-text">View All</span></a>
        </div>
      </div>
      <!-- End More Works -->
    <% else %>
      <p class='col-md-12 col-md-push-2'> There has been no cocktails added yet. Please add some</p>
    <% end %>

  </div>
</div>
<!-- End Work -->
