<div class="col-md-12 col-md-push-2">
  <ul class="nav nav-tabs">
    <li<%= active_tab(ctrler: 'cocktails', action: 'index') %>>
      <%= link_to cocktails_url do %>
        <i class="ti-pencil"></i> Manage
      <% end %>
    </li>
    <li<%= active_tab(ctrler: 'cocktails', action: 'new') ||  active_tab(ctrler: 'cocktails', action: 'create')%>>
      <%= link_to new_cocktail_url do %>
        <i class="ti-plus"></i> Add
      <% end %>
    </li>
  </ul>
</div>
