<div class="col-md-12 col-md-push-2">
  <%= form_for @cocktail, url: {action: "create"}, :multipart => true do |f| %>
  <% if @cocktail.errors.any? %>
  <div id="error_explanation" class='col-md-7 alert alert-danger'>
    <p><%= pluralize(@cocktail.errors.count, "error") %> prohibited your cocktail from being created:</p>

    <ul>
      <% @cocktail.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="col-md-7">
    <div class="form-group">
      <%= f.label :name, class: 'sr-only' %>
      <%= f.text_field :name, class: 'form-control input-lg', placeholder: 'Cocktail Name' %>
    </div>
  </div>
  <div class="col-md-7">
    <div class="form-group">
      <%= f.label :description, class: 'sr-only' %>
      <%= f.text_area :description, class: 'form-control input-lg', placeholder: 'Enter a description of this cocktail' %>
    </div>
  </div>
  <div class="col-md-7">
    <div class="form-group">
      <%= f.label :price, class: 'sr-only' %>
      <%= f.text_field :price, class: 'form-control input-lg', placeholder: 'Cocktail Price' %>
    </div>
  </div>
  <div class="col-md-7">
    <%= f.fields_for :images do |f| %>
      <div class="form-group">
        <%= f.label :uploaded_file, nil, class: 'sr-only' %>
        <%= f.file_field :uploaded_file, class: 'form-control input-lg' %>
      </div>
    <% end %>
  </div>
  <div class="col-md-7">
    <%= f.fields_for :ingredients do |builder| %>
      <% if builder.object.new_record? %>
        <%= render 'ingredient_fields', :f => builder, :no_js => true %>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-7">
    <%= f.submit "Create Cocktail", class: 'btn btn-primary btn-md' %>
  </div>
  <% end %>
  <div class="fh5co-spacer fh5co-spacer-xs"></div>
</div>
