<!-- Main Nav -->
<div id="fh5co-main-nav">
  <nav id="fh5co-nav" role="navigation">
    <ul>
      <li>
        <% if current_page?(action: 'new') %>
          <%= link_to 'Sign In', login_path %>
        <% else %>
          <%= link_to 'Register/Sign Up', sign_up_path %>
        <% end %>
      </li>
    </ul>
  </nav>
</div>
<!-- Main Nav -->
