<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="fh5co-uppercase-heading-sm text-center">Sign in</h2>
      <div class="fh5co-spacer fh5co-spacer-xs"></div>
    </div>
    <div class="col-md-7 col-md-offset-4">
      <%= form_for :user, url: {action: "authorise"} do |f| %>
        <div class="col-md-7">
          <div class="form-group">
            <%= f.label :email, class: 'sr-only' %>
            <%= f.text_field :email, class: 'form-control input-lg', placeholder: 'Email' %>
          </div>
        </div>
        <div class="col-md-7">
          <div class="form-group">
            <%= f.label :password, class: 'sr-only' %>
            <%= f.password_field :password, class: 'form-control input-lg', placeholder: 'Password' %>
          </div>
        </div>
        <div class="col-md-7">
          <div class="form-group">
            <%= f.submit "Sign In", class: 'btn btn-primary btn-md' %>
            <%= link_to 'Forgot?', session_forgot_password_path, class: 'btn btn-outline btn-md' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
