<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="fh5co-uppercase-heading-sm text-center">Sign Up</h2>
      <div class="fh5co-spacer fh5co-spacer-xs"></div>
    </div>
    <div class="col-md-7 col-md-offset-4">
      <%= form_for @user, url: {action: "create"} do |f| %>
        <% if @user.errors.any? %>
          <div id="error_explanation" class='col-md-7 alert alert-danger'>
            <p><%= pluralize(@user.errors.count, "error") %> prohibited your account from being registered:</p>

            <ul>
              <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="col-md-7">
          <div class="form-group">
            <%= f.label :name, class: 'sr-only' %>
            <%= f.text_field :name, class: 'form-control input-lg', placeholder: 'Full Name' %>
          </div>
        </div>
        <div class="col-md-7">
          <div class="form-group">
            <%= f.label :email, class: 'sr-only' %>
            <%= f.text_field :email, class: 'form-control input-lg', placeholder: 'Email' %>
          </div>
        </div>
        <div class="col-md-7">
          <div class="form-group">
            <%= f.label :password, class: 'sr-only' %>
            <%= f.password_field :password, class: 'form-control input-lg', placeholder: 'Password'%>
          </div>
        </div>
        <div class="col-md-7">
          <div class="form-group">
            <%= f.label :password_confirmation, class: 'sr-only' %>
            <%= f.password_field :password_confirmation, class: 'form-control input-lg', placeholder: 'Confirm Password'%>
          </div>
        </div>
        <div class="col-md-7">
          <%= f.submit "Register", class: 'btn btn-primary btn-md' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
