/*
//////////////////////////////////////////////////////

FREE HTML5 TEMPLATE
DESIGNED & DEVELOPED by FREEHTML5.CO

//////////////////////////////////////////////////////
*/
@font-face {
  font-family: 'themify';
  src: url("/assets/themify/themify.eot?-fvbane");
  src: url("/assets/themify/themify.eot?#iefix-fvbane") format("embedded-opentype"), url("/assets/themify/themify.woff?-fvbane") format("woff"), url("/assets/themify/themify.ttf?-fvbane") format("truetype"), url("/assets/themify/themify.svg?-fvbane#themify") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "PT Mono", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #7b7b7b;
  font-weight: 300;
  letter-spacing: .05em;
}

::-webkit-selection {
  color: #ffffff;
  background: #1d2dfd;
}

::-moz-selection {
  color: #ffffff;
  background: #1d2dfd;
}

::selection {
  color: #ffffff;
  background: #1d2dfd;
}

a {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #1d2dfd;
  border-bottom: 2px solid transparent;
}
a:hover, a:active, a:focus {
  color: #1d2dfd;
  outline: none;
  text-decoration: none;
}
a:hover {
  color: #7b7b7b;
  border-bottom: 2px solid #1d2dfd;
}

figure.fh5co-with-caption {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
}
figure.fh5co-with-caption img {
  margin-bottom: 0 !important;
}
figure.fh5co-with-caption figcaption {
  font-style: italic;
  font-size: 14px;
  margin-bottom: 20px;
  color: #7b7b7b;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: 0 0 20px 0;
  padding: 0;
  font-family: "PT Mono", sans-serif;
  font-weight: 400;
  color: #000000;
}

h1, .h1 {
  font-size: 60px;
  line-height: 72px;
}
@media screen and (max-width: 768px) {
  h1, .h1 {
    font-size: 50px;
    line-height: 62px;
  }
}

h2, .h2 {
  font-size: 50px;
  line-height: 68px;
}
@media screen and (max-width: 768px) {
  h2, .h2 {
    font-size: 40px;
    line-height: 58px;
  }
}

h3, .h3 {
  font-size: 40px;
  line-height: 52px;
}
@media screen and (max-width: 768px) {
  h3, .h3 {
    font-size: 30px;
    line-height: 42px;
  }
}

h4, .h4 {
  font-size: 30px;
  line-height: 42px;
}
@media screen and (max-width: 768px) {
  h4, .h4 {
    font-size: 20px;
    line-height: 32px;
  }
}

h5, .h5 {
  font-size: 20px;
  line-height: 34px;
}

h6, .h6 {
  font-size: 16px;
  line-height: 24px;
}

ul, ol {
  padding-left: 15px;
  line-height: 26px;
  margin-left: 15px;
}
ul ul, ul ol, ol ul, ol ol {
  padding-left: 25px;
}

p, img {
  margin: 0 0 20px 0;
}

ul, ol {
  padding-left: 15px;
  line-height: 24px;
}
ul ul, ul ol, ol ul, ol ol {
  padding-left: 25px;
}

pre {
  white-space: pre-wrap;
  /* CSS3 browsers  */
  white-space: -moz-pre-wrap !important;
  /* 1999+ Mozilla  */
  white-space: -pre-wrap;
  /* Opera 4 thru 6 */
  white-space: -o-pre-wrap;
  /* Opera 7 and up */
  word-wrap: break-word;
  /* IE 5.5+ and up */
  /* overflow-x: auto; */
  /* Firefox 2 only */
  /* width: 99%; */
  /* only if needed */
}

pre {
  width: 100%;
  overflow: auto;
  margin: 2rem 0;
  padding: 1rem 0.8rem 1rem 1.2rem;
  color: #3f3b36;
  border: 1px solid #ebebeb !important;
  font: lighter 1.2rem/2rem Monaco,'MonacoRegular',monospace;
  background: url(../images/pre.png) repeat 0 -0.9rem;
  background-size: 1px 4rem;
}

#fh5co-header {
  margin-top: 5em;
  margin-bottom: 5em;
}
@media screen and (max-width: 768px) {
  #fh5co-header {
    margin-top: 1em;
  }
}
#fh5co-header #fh5co-logo {
  float: left;
  position: relative;
  z-index: 102;
  display: block;
}

#fh5co-main-nav {
  position: relative;
  margin-top: 24px;
}
#fh5co-main-nav #fh5co-nav {
  position: relative;
  width: 100%;
}
@media screen and (max-width: 768px) {
  #fh5co-main-nav {
    text-align: left;
    margin-top: 40px;
  }
}
#fh5co-main-nav ul {
  padding: 0;
  margin: 0 0 7px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  text-align: center;
}
@media screen and (max-width: 992px) {
  #fh5co-main-nav ul {
    text-align: left;
    width: 100%;
    margin-left: inherit;
    margin-right: inherit;
    text-align: left;
  }
}
@media screen and (max-width: 768px) {
  #fh5co-main-nav ul {
    text-align: right;
    margin-left: inherit;
    margin-right: inherit;
  }
}
#fh5co-main-nav ul > li {
  padding: 0;
  margin: 0 0 7px 0;
  list-style: none;
  display: inline-block;
}
#fh5co-main-nav ul > li.fh5co-active a {
  color: #7c7c7c;
  border-bottom: 2px solid #1d2dfd;
}
#fh5co-main-nav ul > li:last-child {
  margin: 0;
}
@media screen and (max-width: 768px) {
  #fh5co-main-nav ul > li {
    display: block;
  }
}
#fh5co-main-nav ul > li > a {
  padding: 5px 0;
  margin: 0  10px;
  color: #7c7c7c;
  border-bottom: 2px solid transparent;
}
@media screen and (max-width: 768px) {
  #fh5co-main-nav ul > li > a {
    margin: 0  0px;
  }
}
#fh5co-main-nav ul > li > a:hover, #fh5co-main-nav ul > li > a:active, #fh5co-main-nav ul > li > a:focus {
  color: #7c7c7c;
  border-bottom: 2px solid #1d2dfd;
}
#fh5co-main-nav .fh5co-nav-call-to-action {
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
}
@media screen and (max-width: 768px) {
  #fh5co-main-nav .fh5co-nav-call-to-action {
    position: relative;
    top: 0px;
    text-align: right;
    display: inline-block;
    float: right;
  }
}

#fh5co-intro {
  margin-bottom: 2em;
}
@media screen and (max-width: 768px) {
  #fh5co-intro {
    margin-bottom: 1em;
  }
}
#fh5co-intro h1 {
  font-size: 72px;
  color: #000000;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  #fh5co-intro h1 {
    font-size: 40px;
  }
}
#fh5co-intro .fh5co-intro-sub {
  margin: 2em 0;
}
@media screen and (max-width: 768px) {
  #fh5co-intro .fh5co-intro-sub {
    margin: 1em 0;
  }
}

#fh5co-work .fh5co-work-wrap {
  position: relative;
  margin-bottom: 30px;
}
#fh5co-work .fh5co-work-item {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  height: 100%;
  border-bottom: none !important;
}
#fh5co-work .fh5co-work-item img {
  float: left;
  margin: 0;
  padding: 0;
}
#fh5co-work .fh5co-work-item:hover, #fh5co-work .fh5co-work-item:focus, #fh5co-work .fh5co-work-item:active {
  border-bottom: none !important;
}
#fh5co-work .fh5co-work-item .fh5co-overlay-text,
#fh5co-work .fh5co-work-item .fh5co-overlay-bg {
  position: absolute;
  opacity: 0;
}
#fh5co-work .fh5co-work-item .fh5co-overlay-bg {
  background: rgba(255, 255, 255, 0.9);
  top: 20px;
  bottom: 20px;
  right: 20px;
  left: 20px;
  z-index: 55;
}
#fh5co-work .fh5co-work-item .fh5co-overlay-text {
  text-align: center;
  top: 50%;
  margin-top: -86px;
  z-index: 56;
  width: 100%;
  padding: 0 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#fh5co-work .fh5co-work-item .fh5co-overlay-text h2 {
  padding: 0 !important;
  margin: 0 !important;
  color: #000000;
  font-size: 18px !important;
  line-height: 20px !important;
}
#fh5co-work .fh5co-work-item .fh5co-overlay-text .fh5co-categories {
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
}
#fh5co-work .fh5co-work-item .fh5co-overlay-text .fh5co-categories li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
  font-size: 11px;
  color: #7b7b7b;
}
#fh5co-work .fh5co-work-item .fh5co-overlay-text .fh5co-categories li::after {
  content: ",";
}
#fh5co-work .fh5co-work-item .fh5co-overlay-text .fh5co-categories li:last-child::after {
  content: "";
}

.fh5co-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}
.fh5co-nav-toggle.active i::before, .fh5co-nav-toggle.active i::after {
  background: #2e2e2e;
}
.fh5co-nav-toggle:hover, .fh5co-nav-toggle:focus, .fh5co-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.fh5co-nav-toggle i {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 3px;
  color: #252525;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #252525;
  transition: all .2s ease-out;
}
.fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
  content: '';
  width: 25px;
  height: 3px;
  background: #252525;
  position: absolute;
  left: 0;
  transition: all .2s ease-out;
}
.fh5co-nav-toggle.fh5co-nav-white > i {
  color: #ffffff;
  background: #ffffff;
}
.fh5co-nav-toggle.fh5co-nav-white > i::before, .fh5co-nav-toggle.fh5co-nav-white > i::after {
  background: #ffffff;
}

.fh5co-nav-toggle i::before {
  top: -7px;
}

.fh5co-nav-toggle i::after {
  bottom: -7px;
}

.fh5co-nav-toggle:hover i::before {
  top: -10px;
}

.fh5co-nav-toggle:hover i::after {
  bottom: -10px;
}

.fh5co-nav-toggle.active i {
  background: transparent;
}

.fh5co-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.fh5co-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.fh5co-nav-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 21;
  display: block;
  margin: 0 auto;
  display: none;
}
@media screen and (max-width: 768px) {
  .fh5co-nav-toggle {
    display: block;
  }
}

.fh5co-sidebar-nav ul {
  padding: 0;
  margin: 0;
}
.fh5co-sidebar-nav ul li {
  padding: 0;
  margin: 0 0 .5em 0;
  line-height: 24px;
  list-style: none;
}
.fh5co-sidebar-nav ul li a {
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
.fh5co-sidebar-nav .fh5co-sidebar-nav-desc {
  font-size: 14px;
  color: #ccc !important;
  line-height: 20px;
  display: block;
  cursor: pointer;
}
.fh5co-sidebar-nav a:hover .fh5co-sidebar-nav-desc {
  color: #2e2e2e !important;
}

#fh5co-footer {
  padding-bottom: 2em;
}
@media screen and (max-width: 768px) {
  #fh5co-footer {
    padding-bottom: 1em;
  }
}
#fh5co-footer .fh5co-footer-social {
  padding: 0;
  margin: 0 0 2em 0;
}
#fh5co-footer .fh5co-footer-social li {
  display: inline;
  font-size: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 480px) {
  #fh5co-footer .fh5co-footer-social li {
    display: block;
    margin-bottom: 10px;
  }
}
#fh5co-footer .fh5co-footer-social li a {
  color: #7c7c7c;
  padding: 4px 0;
  margin: 0 10px 0 0;
}
#fh5co-footer .fh5co-copyright {
  color: #7b7b7b;
  font-size: 15px;
}

.fh5co-more-works {
  display: none;
}

.fh5co-view {
  text-align: center;
}
.fh5co-view .fh5co-icon-view {
  line-height: 0;
  margin-bottom: 10px;
  display: block;
  color: #7b7b7b;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.fh5co-view .fh5co-icon-view i {
  font-size: 30px;
}
.fh5co-view.active .fh5co-icon-view {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

/* Owl Override Style */
.owl-carousel .owl-controls,
.owl-carousel-posts .owl-controls {
  margin-top: 0;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 50%;
  margin-top: -29px;
  z-index: 9999;
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 24%;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-next {
  right: -40px;
}
.owl-carousel .owl-controls .owl-nav .owl-next:hover,
.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover {
  margin-right: -10px;
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  left: -40px;
}
.owl-carousel .owl-controls .owl-nav .owl-prev:hover,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover {
  margin-left: -10px;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next {
  right: -50px;
}
@media screen and (max-width: 768px) {
  .owl-carousel-posts .owl-controls .owl-nav .owl-next {
    right: 0px;
  }
}

.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  left: -50px;
}
@media screen and (max-width: 768px) {
  .owl-carousel-posts .owl-controls .owl-nav .owl-prev {
    left: 0px;
  }
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev i {
  color: #2e2e2e;
}
.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev:hover i {
  color: #000000;
}

.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev i {
  color: #ffffff;
}
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev:hover i {
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .owl-theme .owl-controls .owl-nav {
    display: none;
  }
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
  background: none !important;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"] i {
  font-size: 30px;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"] i:hover, .owl-theme .owl-controls .owl-nav [class*="owl-"] i:focus {
  background: none !important;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover, .owl-theme .owl-controls .owl-nav [class*="owl-"]:focus {
  background: none !important;
}

.owl-theme .owl-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.owl-carousel-fullwidth.owl-theme .owl-dots {
  bottom: 0;
  margin-bottom: -2.5em;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  background: #ccc;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: 2px solid transparent;
}
.owl-theme .owl-dots .owl-dot span:hover {
  background: none;
  border: 2px solid #1d2dfd;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: none;
  border: 2px solid #1d2dfd;
}

.quote {
  width: 75%;
  margin: 0 auto;
  font-size: 28px;
  line-height: 38px;
}
.quote cite {
  margin-top: 20px;
  display: block;
  font-size: 20px;
  font-style: normal;
}
@media screen and (max-width: 768px) {
  .quote {
    font-size: 20px;
    width: 100%;
  }
}

#map {
  width: 100%;
  height: 400px;
}

/* Buttons */
.btn {
  font-family: "PT Mono", sans-serif;
  border-bottom: none !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1.5;
}
.btn:hover, .btn:focus, .btn:active {
  box-shadow: none;
  outline: none !important;
  border-color: transparent;
}
.btn.fh5co-btn-icon {
  text-transform: none !important;
  letter-spacing: normal !important;
  padding-left: 15px;
  padding-right: 15px;
}
.btn.btn-lg {
  padding: 30px;
}
.btn.btn-md {
  padding: 15px;
}
.btn.btn-sm {
  padding: 12px;
}
.btn.btn-xs {
  padding: 10px;
}

.btn-outline {
  border: 2px solid #eaeaea !important;
  background: transparent;
  color: #2a2e37;
}
.btn-outline:hover, .btn-outline:active, .btn-outline:focus {
  border: 2px solid #282e3c !important;
  background: #282e3c;
  color: #ffffff;
}

.btn-primary {
  background: #1d2dfd;
  border: 2px solid #1d2dfd;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background: #0213f4;
}

.btn-success {
  background: #00e195;
  border: 2px solid #00e195;
}
.btn-success:hover, .btn-success:active, .btn-success:focus {
  background: #00bd7d;
}

.btn-danger {
  background: #e02745;
  border: 2px solid #e02745;
}
.btn-danger:hover, .btn-danger:active, .btn-danger:focus {
  background: #c71d38;
}

.btn-info {
  background: #0bbff2;
  border: 2px solid #0bbff2;
}
.btn-info:hover, .btn-info:active, .btn-info:focus {
  background: #09a4d0;
}

.btn-warning {
  background: #ffd042;
  border: 2px solid #ffd042;
}
.btn-warning:hover, .btn-warning:active, .btn-warning:focus {
  background: #ffc71e;
}

.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  border-color: transparent;
}

.form-control {
  box-shadow: none !important;
  border: 2px solid #ccc;
}
.form-control:hover, .form-control:focus, .form-control:active {
  outline: none;
  box-shadow: none !important;
  border: 2px solid #1d2dfd;
}

.fh5co-spacer {
  clear: both;
  position: relative;
  border: none;
  padding: 0;
  margin: 0;
}

.fh5co-spacer-xlg {
  height: 150px;
}
@media screen and (max-width: 768px) {
  .fh5co-spacer-xlg {
    height: 80px;
  }
}

.fh5co-spacer-lg {
  height: 100px;
}
@media screen and (max-width: 768px) {
  .fh5co-spacer-lg {
    height: 70px;
  }
}

.fh5co-spacer-md {
  height: 80px;
}
@media screen and (max-width: 768px) {
  .fh5co-spacer-md {
    height: 50px;
  }
}

.fh5co-spacer-sm {
  height: 50px;
}
@media screen and (max-width: 768px) {
  .fh5co-spacer-sm {
    height: 20px;
  }
}

.fh5co-spacer-xs {
  height: 30px;
}
@media screen and (max-width: 768px) {
  .fh5co-spacer-xs {
    height: 20px;
  }
}

.fh5co-spacer-xxs {
  height: 30px;
}

.fh5co-letter-spacing {
  letter-spacing: 1px;
}

.fh5co-no-margin-bottom {
  margin-bottom: 0 !important;
}

.fh5co-uppercase-heading-sm {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #ccc;
}
.fh5co-uppercase-heading-sm.with-border {
  position: relative;
  padding-bottom: 10px;
}
.fh5co-uppercase-heading-sm.with-border .fh5co-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 2px;
  background: #1d2dfd;
}

.form-group {
  margin-bottom: 20px;
}

.image-popup:hover {
  opacity: .7;
}

.fh5co-call-to-action {
  background-color: #1d2dfd;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.fh5co-call-to-action h3 {
  color: #ffffff !important;
}
.fh5co-call-to-action .fh5co-call-to-action-text {
  font-size: 50px;
  line-height: 60px;
  font-family: "PT Mono", sans-serif;
  text-transform: uppercase;
}
.fh5co-call-to-action .btn {
  margin-bottom: 0 !important;
  padding-left: 50px;
  padding-right: 50px;
  color: #ffffff !important;
}
.fh5co-call-to-action > .fh5co-overlay {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}
.fh5co-call-to-action .fh5co-call-to-action-wrap {
  position: relative;
  padding: 50px 0;
  display: table;
  width: 100%;
}
.fh5co-call-to-action .fh5co-call-to-action-wrap .fh5co-call-to-action-inner {
  display: table-cell;
  vertical-align: middle;
  font-size: 50px;
  line-height: 62px;
  color: #ffffff;
  width: 100%;
}

/* Accordions */
.fh5co-accordion .panel-title > a:hover {
  border-bottom: none !important;
}
.fh5co-accordion .panel-heading {
  background: transparent;
  position: relative;
  cursor: pointer;
}
.fh5co-accordion .panel-heading .accordion-toggle {
  color: #1d2dfd;
}
.fh5co-accordion .panel-heading .accordion-toggle:after {
  font-family: 'themify';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2e2e2e !important;
  position: absolute;
  content: "\e622";
  right: 15px;
  top: 16px;
}
.fh5co-accordion .panel-heading.collapsed .accordion-toggle {
  color: #2e2e2e !important;
}
.fh5co-accordion .panel-heading.collapsed .accordion-toggle:after {
  font-family: 'themify';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2e2e2e !important;
  position: absolute;
  content: "\e61a";
  right: 15px;
  top: 16px;
}

/* Progress Bars */
.progress {
  height: 10px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  box-shadow: none;
}

.progress-bar {
  box-shadow: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}
.progress-bar.progress-bar-default {
  background: #1d2dfd;
}
.progress-bar.progress-bar-success {
  background: #00e195;
}
.progress-bar.progress-bar-info {
  background: #0bbff2;
}
.progress-bar.progress-bar-warning {
  background: #ffd042;
}
.progress-bar.progress-bar-danger {
  background: #e02745;
}

img.fh5co-align-right {
  float: right;
  margin: 0 0 .5em 1em;
}
@media screen and (max-width: 480px) {
  img.fh5co-align-right {
    width: 100%;
    margin: 0 0 .5em 0;
  }
}
img.fh5co-align-left {
  float: left;
  margin: 0 1em .5em 0;
}
@media screen and (max-width: 480px) {
  img.fh5co-align-left {
    width: 100%;
    margin: 0 0 .5em 0;
  }
}
img.fh5co-align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a > img.fh5co-align-right {
  float: right;
  margin: 0 0 .5em 1em;
}
@media screen and (max-width: 480px) {
  a > img.fh5co-align-right {
    width: 100%;
    margin: 0 0 .5em 0;
  }
}
a > img.fh5co-align-left {
  float: left;
  margin: 0 1em .5em 0;
}
@media screen and (max-width: 480px) {
  a > img.fh5co-align-left {
    width: 100%;
    margin: 0 0 .5em 0;
  }
}
a > img.fh5co-align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fh5co-gotop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  color: #ffffff !important;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 6px;
  z-index: 18;
}
.fh5co-gotop > i {
  position: relative;
  display: block;
  font-size: 20px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* Easy Rsponsive Tabs */
.fh5co-tab {
  clear: both;
  display: block;
}

.fh5co-tab h2 {
  line-height: 3 !important;
}

.resp-tab-active {
  color: #1d2dfd;
}

.resp-tabs-list li {
  font-family: "PT Mono", sans-serif;
}

.resp-content-active, .resp-accordion-active {
  display: block;
}

.fh5co-tab-menu-icon {
  font-size: 20px;
  position: relative;
  float: left;
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  .fh5co-tab-menu-icon {
    margin-top: 0px;
  }
}

/* Pricing Tables */
.fh5co-pricing-table-1 {
  font-family: "PT Mono", sans-serif;
}
@media screen and (max-width: 992px) {
  .fh5co-pricing-table-1 .fh5co-pricing-table-item {
    margin-bottom: 20px !important;
  }
}
@media screen and (max-width: 768px) {
  .fh5co-pricing-table-1 .fh5co-pricing-table-item {
    margin-bottom: 20px !important;
    float: left;
    width: 100%;
  }
}
.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-body,
.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-heading {
  text-align: center;
  float: left;
  width: 100%;
  padding: 1em 2em;
}
.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-heading {
  background: #1d2dfd;
}
.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-heading h3 {
  font-size: 70px;
  position: relative;
  display: inline-block;
  color: #ffffff !important;
}
.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-heading h3 sup {
  position: absolute;
  top: 2px;
  margin-left: -7px;
}
.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-heading h3 sup, .fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-heading h3 span {
  font-size: 14px;
  text-transform: uppercase;
}
.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-heading p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.fh5co-pricing-table-1 .fh5co-pricing-table-item.fh5co-best-offer .fh5co-pricing-table-item-heading {
  background: #1d2dfd;
  color: #ffffff;
}
.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-body {
  border: 2px solid #ccc;
  border-top: none;
}
.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-body ul {
  padding: 0;
  margin: 0;
}
.fh5co-pricing-table-1 .fh5co-pricing-table-item .fh5co-pricing-table-item-body ul li {
  list-style: none;
  padding: 0;
  margin: 0 0 10px 0;
}
.fh5co-pricing-table-1 .fh5co-pricing-table-item.fh5co-best-offer .fh5co-pricing-table-item-body {
  border: 2px solid #1d2dfd;
  border-top: none;
}

.fh5co-no-margin-bottom {
  margin-bottom: 0 !important;
}

.fh5co-letter-space {
  letter-spacing: 4px;
}

.fh5co-link {
  font-family: "PT Mono", sans-serif;
}
.fh5co-link > i {
  margin-right: 5px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.fh5co-link:hover > i {
  margin-right: 15px;
}

.fh5co-btn-other-option {
  float: left;
  margin-right: 10px;
}

.fh5co-other-option {
  margin-top: 12px;
  display: inline-block;
  float: left;
}
.fh5co-other-option .fh5co-or {
  margin-left: 10px;
  margin-right: 10px;
}

.fh5co-uppercase-heading-sm {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #7b7b7b;
}

.button-wrapper .btn {
    margin-bottom:5px;
}

