<div class="col-md-12 col-md-push-2">
  <% if @pumps && !@pumps.empty? %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Port</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% for pump in @pumps %>
          <tr>
            <td><%= pump.port %></td>
            <td class='button-wrapper'>
              <% unless pump.beverages.size > 0 %>
                <%= link_to edit_pump_url(pump), class: 'btn btn-primary fh5co-btn-icon' do %>
                  <i class="ti-pencil"></i> Edit
                <% end %>
              <% else %>
                <span class="label label-default">Currently in Use</span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p> You have no pumps yet. Follow the link on the top tab to add a new pump configuration</p>
  <% end %>
</div>
