<div class="col-md-12 col-md-push-2">
  <%= form_for @pump, url: {action: "create"} do |f| %>
    <% if @pump.errors.any? %>
    <div id="error_explanation" class='col-md-7 alert alert-danger'>
      <p><%= pluralize(@pump.errors.count, "error") %> prohibited your pump from being created:</p>

      <ul>
        <% @pump.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <div class="col-md-7">
      <div class="form-group">
        <%= f.label :port, class: 'sr-only' %>
        <%= f.text_field :port, class: 'form-control input-lg', placeholder: 'GPIO PIN' %>
      </div>
    </div>
    <div class="col-md-7">
      <%= f.submit "Create Port", class: 'btn btn-primary btn-md' %>
    </div>
  <% end %>
</div>
