<div id="fh5co-main-nav">
  <nav id="fh5co-nav" role="navigation">
    <ul>
      <li<%= set_active_link(url: root_url) %>>
        <%= link_to 'Bar', root_url %>
      </li>
      <li<%= set_active_link(ctrler: :pumps) %>>
        <%= link_to 'Pumps', pumps_url %>
      </li>
      <li<%= set_active_link(ctrler: :beverages) %>>
        <%= link_to 'Beverages', beverages_url %>
      </li>
      <li<%= set_active_link(ctrler: :cocktails) %>>
        <%= link_to 'Cocktails', cocktails_url %>
      </li>
      <li<%= set_active_link(ctrler: :admin) %>>
        <%= link_to 'Admin', admin_url %>
      </li>
    </ul>
    <%= link_to 'Logout', session_destroy_url, class: 'fh5co-nav-call-to-action js-fh5co-nav-call-to-action' %>
  </nav>
</div>
