<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Robo: Bar-Mix-R</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Automated mixologist" />
    <meta name="keywords" content="automated bartender, robo mixologist, mixology, bartender, raspberry pi, peristaltic pump" />
    <meta name="author" content="voke.anighoro@gmail.com" />

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="shortcut icon" href="/assets/favicon.ico">

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>

    <!-- Header -->
    <header id="fh5co-header" role="banner">
      <div class="container">
        <!-- Logo -->
        <div id="fh5co-logo">
          <a href="index.html">
            <img src="/assets/logo.png" alt="Work Logo">
          </a>

        </div>
        <!-- Logo -->

        <!-- Mobile Toggle Menu Button -->
        <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>

        <!-- Main Nav -->
        <% if current_user %>
          <%= render 'layouts/signed_in_nav' %>
        <% else %>
          <%= render 'session/sign_in_or_sign_up_nav' %>
        <% end %>
        <!-- Main Nav -->
      </div>
    </header>
    <!-- Header -->

    <main role="main">
      <div class='container'>
        <div class='row'>
          <div class="col-md-push-3 col-md-7">
            <% flash.each do |key, value| %>
              <div class="alert alert-<%= key %>"><%= value.html_safe %></div>
            <% end %>
          </div>
        </div>
      </div>
      <%= render_sub_tabs %>
      <div class="fh5co-spacer fh5co-spacer-sm"></div>
      <%= yield %>
      <div class="fh5co-spacer fh5co-spacer-sm"></div>
    </main>

    <footer id="fh5co-footer" role="contentinfo">
      <div class="container">
        <div class="row">
          <div class="col-md-push-4 col-md-6">
            <p class="fh5co-copyright">
              <small>(c) 2016 <a href="/">Bar-Mix-R</a>. All Rights Reserved. <br>
Designed by: <a href="http://www.vtechnologiesltd.com/">vTechnologies Ltd</a></small>
            </p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Go To Top -->
    <a href="#" class="fh5co-gotop"><i class="ti-shift-left"></i></a>


    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </body>
</html>
